@import "/src/assets/sass/media_queries";
@import "/src/assets/sass/container_width";
.main-block {
  background-image: url(/assets/images/pages/3/background.webp);
  background-repeat: repeat;
  animation: page_3 4.5s infinite;
  background-color: var(--brown-1);
  position: relative;
  background-size: calc(600px + (900 - 600) * ((100vw - 300px) / (1980 - 300)));
  padding: 120px 0px 130px;

  .heading {
    text-align: center;
    margin-bottom: 60px;

    > h1 {
      font-family: "Buckerley";
      font-size: calc(60px + (90 - 60) * ((100vw - 300px) / (1980 - 300)));
      color: var(--brown-6);
      border: 3px solid var(--brown-5);
      display: inline-block;
      border-radius: 20px;
      background-color: var(--glass);
      padding: 4px 0;
      padding-inline: calc(26px + (60 - 26) * ((100vw - 300px) / (1980 - 300)));
      font-weight: 500;
      margin: 0;
      animation: text-shadow-pop-left 1s 0.5s both;
    }
  }
  .container {
    @extend %container-width;
    .menu-container {
      width: 100%;
      margin-inline: auto;

      @include breakpoint(lg) {
        width: 90%;
      }

      @include breakpoint(xl) {
        width: 80%;
      }

      .block-1 {
        border: 3px solid var(--brown-5);
        border-radius: 20px;
        background-color: var(--glass);

        .menu-pictures {
          display: flex;
          justify-content: center;
          padding: calc(26px + (34 - 26) * ((100vw - 300px) / (1980 - 300))) 0px
            calc(0px + (6 - 0) * ((100vw - 300px) / (1980 - 300)));

          > .picture {
            padding-inline: calc(0px + (25 - 0) * ((100vw - 300px) / (1980 - 300)));
            transition: all 0.35s;
            cursor: pointer;
            width: 33.33333333333333333%;
            position: relative;
            animation: bounceIn 1.2s 0s both;

            &.active {
              transform: translateY(-10px);
            }

            &:hover {
              transform: translateY(-8px);
            }
          }
        }

        hr.c-hr {
          margin: 1rem 0;
          color: inherit;
          border: 0;
          border-top: 1px solid var(--brown-5);
        }

        .menu-titles {
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;

          .title-container {
            width: 33.33333333%;
            text-align: center;
            .title {
              font-family: "Daybury";
              color: var(--brown-6);
              font-weight: 500;
              font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1980 - 300)));
              margin: 0;
              cursor: pointer;
              transition: all 0.35s;
              animation: focus-in-expand 1.5s 0s both;

              &.active {
                color: var(--orange);
              }

              &:hover {
                color: var(--orange);
                transform: translateY(-3px);
              }
            }
            &:nth-child(2) {
              border-right: 2px solid var(--brown-5);
              border-left: 2px solid var(--brown-5);
            }
          }
        }
      }

      .block-2 {
        .slides-container {
          padding-top: 70px;

          .title {
            font-family: "Daybury";
            color: var(--brown-6);
            text-align: end;
            margin-bottom: 10px;
            animation: bounceInDown 1.5s 0s both;

            span {
              display: inline-block;
              transition: all 0.3s;

              &:hover {
                transform: translateY(-6px);
                color: var(--orange);
                cursor: pointer;
              }
            }
          }

          .slide-picture-container {
            border: 2px solid var(--brown-5);
            border-radius: 20px;
            background-color: var(--glass);
            padding: 10px;
            transition: all 0.3s;
            cursor: zoom-in;
            position: relative;

            &:hover {
              box-shadow: 0px 0px 9px 1px rgba(240, 215, 184, 0.471);
              transform: scale(0.98);
            }
          }

          .slide-title {
            font-family: "Daybury";
            color: var(--brown-6);
            padding: 26px 0 60px;
            text-align: center;
            animation: focus-in-expand 1.5s 0s both;
          }
        }
      }

      .block-3 {
        border-radius: 20px;
        background-color: var(--glass);
        margin-inline: auto;
        padding-bottom: calc(14px + (45 - 14) * ((100vw - 300px) / (1980 - 300)));
        @include breakpoint(xl) {
          width: 90%;
        }

        .buttons-container {
          display: flex;
          flex-wrap: wrap;
          padding: 34px 0;
          justify-content: center;

          button {
            font-family: "Daybury";
            font-size: calc(19px + (25 - 19) * ((100vw - 300px) / (1980 - 300)));
            min-width: calc(163px + (219 - 163) * ((100vw - 300px) / (1980 - 300)));
            font-weight: 500;
            margin-inline: 15px;
            margin-bottom: 12px;
            animation: bounceIn 1s 0.1s both;
          }
        }

        .ornament-picture {
          width: calc(170px + (290 - 170) * ((100vw - 300px) / (1980 - 300)));
          margin-inline: auto;
          margin-bottom: 30px;
          position: relative;
          animation: scale-in-center 1.1s 0.5s both;
        }

        .menus-container {
          width: 92%;
          margin-inline: auto;
          position: relative;

          @include breakpoint(md) {
            width: 85%;
          }

          @include breakpoint(lg) {
            width: 75%;
          }

          @include breakpoint(xxl) {
            width: 70%;
          }

          .icons-container {
            margin: 0px 15px 15px 15px;
            display: flex;
            justify-content: space-between;

            .icon {
              width: calc(20px + (25 - 20) * ((100vw - 300px) / (1980 - 300)));
              transition: all 0.3s;
              cursor: pointer;

              &.link {
                animation: bounceInDown 1.1s 0.2s both;
              }

              &.dl {
                animation: bounceInUp 1.1s 0.2s both;
              }

              &:hover {
                color: var(--orange);
                transform: translateY(-6px);
              }
            }
          }

          .menu-image {
            border: 2px solid var(--brown-5);
            border-radius: 20px;
            background-color: var(--glass);
            padding: calc(5px + (10 - 5) * ((100vw - 300px) / (1980 - 300)));
            transition: all 0.3s;
            cursor: zoom-in;
            animation: bounceIn 2s 0s both;

            &:hover {
              box-shadow: 0px 0px 9px 1px rgba(240, 215, 184, 0.471);
              transform: scale(0.98);
            }
          }
        }
      }
    }
  }
}

.slides {
  .header {
    text-align: center;
    margin: 0;
    font-family: Daybury;
    z-index: 2;

    > h1 {
      display: inline-block;
      animation: focus-in-expand 1.5s 0s both;
    }

    &.text-1 {
      background-color: #cc9c68;
      color: #372e1c;
      padding: 30px 0;
      > h1 {
        font-size: calc(40px + (80 - 45) * ((100vw - 300px) / (1980 - 300))) !important;
      }
    }

    &.text-2 {
      font-size: calc(30px + (80 - 45) * ((100vw - 300px) / (1980 - 300)));
      > .underline {
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s;
        display: inline-block;

        &:hover {
          transform: translateY(-6px);
        }
      }
    }
  }

  .slide-container {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .bg {
      background: url("/assets/images/svg/one-2.svg");
      background-size: contain;
      background-repeat: no-repeat;
      animation: bg 5s infinite;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;

      @include breakpoint(sm) {
        opacity: 0.7;
      }

      @media (min-width: 468px) {
        display: block;
      }

      &.rotate {
        transform: rotateY(180deg);
      }
    }

    .pieces {
      display: none;

      @include breakpoint(sm) {
        display: block;
      }

      img {
        max-width: calc(90px + (125 - 90) * ((100vw - 768px) / (1980 - 768)));
        position: absolute;
        padding: 0;
      }

      .rotating {
        max-width: calc(80px + (105 - 80) * ((100vw - 768px) / (1980 - 768)));
        top: 43%;
        right: 30px;
        animation: rotate 2s linear infinite;
      }

      .top {
        top: 5px;
        right: 30px;
      }

      .btm {
        bottom: 5px;
        right: 30px;
      }

      .left {
        right: 0;
        left: 30px;
      }
    }

    .step-1,
    .step-2,
    .step-3,
    .step-4 {
      margin-inline: 20px;
      width: 100%;
      position: relative;
    }

    .step-1 {
      max-width: calc(360px + (433 - 360) * ((100vw - 300px) / (1980 - 450)));
    }

    .step-2 {
      max-width: calc(360px + (441 - 360) * ((100vw - 300px) / (1980 - 450)));
    }

    .step-3 {
      max-width: calc(360px + (385 - 360) * ((100vw - 300px) / (1980 - 450)));
    }

    .step-4 {
      max-width: calc(360px + (468 - 360) * ((100vw - 300px) / (1980 - 450)));
    }
  }

  // colors
  #slide-1 {
    &.slide-container {
      background-color: #cc9c68;
    }

    .header {
      color: #372e1c;
    }
  }

  #slide-2 {
    &.slide-container {
      background-color: #6893cc;
    }

    .header {
      color: #17263a;
    }
  }

  #slide-3 {
    &.slide-container {
      background-color: #95639d;
    }

    .header {
      color: #2d173a;
    }
  }

  #slide-4 {
    &.slide-container {
      background-color: #639d7e;
    }

    .header {
      color: #173a38;
    }
  }
}

// upper
.custom-shape-divider-bottom-16350976980 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: initial;
    height: 57px;

    @include breakpoint(sm) {
      width: calc(100% + 1.3px);
    }

    @include breakpoint(lg) {
      height: 80px;
    }

    @include breakpoint(xl) {
      height: 95px;
    }

    .shape-fill {
      fill: #cc9c68;
    }
  }
}

// lower
.custom-shape-divider-bottom-1635100151 {
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  top: -3px;
  position: relative;

  svg {
    position: relative;
    display: block;
    width: initial;
    height: 57px;

    @include breakpoint(sm) {
      width: calc(100% + 1.3px);
    }

    @include breakpoint(lg) {
      height: 80px;
    }

    @include breakpoint(xl) {
      height: 95px;
    }

    .shape-fill {
      fill: #cc9c68;
    }
  }
}

@keyframes bg {
  0% {
    background-position-x: -0;
  }

  50% {
    background-position-x: -40px;
  }

  100% {
    background-position-x: -0;
  }
}

@keyframes page_3 {
  0% {
    background-position-y: 0px;
  }

  50% {
    background-position-y: -30px;
  }

  100% {
    background-position-y: 0px;
  }
}
