@import "/src/assets/sass/media_queries";
@import "/src/assets/sass/container_width";
.main-block {
  background-image: url(/assets/images/pages/5/background.webp);
  background-repeat: repeat;
  animation: page_5 4.5s infinite;
  background-color: var(--brown-1);
  position: relative;
  background-size: calc(500px + (720 - 500) * ((100vw - 300px) / (1980 - 300)));
  padding-top: calc(51px + (110 - 51) * ((100vw - 300px) / (767 - 300)));

  @include breakpoint(md) {
    padding-top: calc(160px + (230 - 160) * ((100vw - 767px) / (1980 - 767)));
  }
}
.texts {
  > h1 {
    font-family: "Futura PT Book";
    font-weight: 600;
    color: var(--brown-6);
    margin: 0;

    &.text-1 {
      font-size: calc(24px + (35 - 24) * ((100vw - 300px) / (767 - 300)));
      animation: focus-in-expand 1.2s 0s both;

      @include breakpoint(md) {
        font-size: calc(28px + (50 - 28) * ((100vw - 768px) / (1980 - 768)));
      }
    }

    &.text-2 {
      font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (767 - 300)));
      animation: focus-in-expand 1.2s 0.3s both;

      @include breakpoint(md) {
        font-size: calc(23px + (39 - 23) * ((100vw - 768px) / (1980 - 768)));
      }
    }

    &.text-3 {
      font-size: calc(36px + (52 - 36) * ((100vw - 300px) / (767 - 300)));
      animation: focus-in-expand 1.2s 0s both;

      @include breakpoint(md) {
        font-size: calc(55px + (71 - 55) * ((100vw - 768px) / (1980 - 768)));
      }

      font-family: Daybury !important;
      text-align: center;
    }
  }
  .paragraph {
    font-family: "Futura PT Book";
    font-weight: 500;
    color: white;
    margin: 0;
    font-size: calc(17px + (23 - 17) * ((100vw - 300px) / (767 - 300)));
    line-height: 37px;

    @include breakpoint(sm) {
      line-height: 45px;
    }

    @include breakpoint(md) {
      font-size: calc(18px + (23 - 18) * ((100vw - 768px) / (1980 - 768)));
    }

    @include breakpoint(lg) {
      line-height: 50px;
    }

    &.large {
      font-size: calc(21px + (25 - 21) * ((100vw - 768px) / (1980 - 768)));
      margin-top: 0;

      @include breakpoint(md) {
        margin-top: 20px;
      }
    }

    .badge {
      background-color: var(--brown-6);
      color: var(--brown-1);
      cursor: pointer;
      padding: 4px 10px;
      border-radius: 10px;
      font-weight: 600;
      // display: inline-block;
      transition: all 0.25s;

      &:hover {
        padding: 6px 10px;
        border-radius: 18px;
      }
    }
  }
}

img {
  &.line-desktop {
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &.line-mobile {
    width: calc(255px + (322 - 255) * ((100vw - 300px) / (767 - 300)));

    @include breakpoint(lg) {
      display: none;
    }
  }
}

.container {
  @extend %container-width;
  .why-us-container {
    padding: 7vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include breakpoint(md) {
      padding-bottom: 15vh;
      text-align: start;
      gap: 15px;
      justify-content: space-between;
    }

    > .block-1,
    > .block-2 {
      width: 100%;
      margin-top: 50px;
      position: relative;

      @include breakpoint(md) {
        width: calc(50% - 15px);
      }
    }

    > .block-1 {
      order: 1;
      animation: fadeIn 2s 0s both;

      @include breakpoint(md) {
        order: 0;
      }
    }
  }

  .reviews-container {
    padding: 10vh 0;
    text-align: center;
    .slide-height {
      min-height: 60vh !important;
    }
    @include breakpoint(md) {
      padding: 15vh 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-items: center;
      text-align: start;
      gap: 15px;
      justify-content: space-between;
    }

    > .block-1,
    > .block-2 {
      width: 100%;

      @include breakpoint(md) {
        width: calc(50% - 15px);
      }
    }

    > .block-2 {
      border-radius: 20px;
      background-color: var(--glass);
      position: relative;
      font-family: "Futura PT Book";
      text-align: justify;
      cursor: grab;
      position: relative;
      margin-top: 60px;

      @include breakpoint(md) {
        margin-top: 0;
      }

      .review-block {
        padding: 30px 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

        @include breakpoint(lg) {
          padding: 30px 60px;
          flex-direction: row;
        }

        .customer-pic {
          max-width: 80px;
          width: 100%;

          > img {
            border-radius: 50%;
          }
        }

        .customer-name {
          text-align: center;

          @include breakpoint(md) {
            margin-left: 30px;
            text-align: start;
          }

          .customer-stars {
            max-width: 120px;
            width: 100%;
            margin-top: 10px;
          }
        }

        .fb-icon {
          position: absolute;
          top: 17px;
          right: 17px;
          width: 30px;

          @include breakpoint(lg) {
            margin-bottom: auto;
            margin-left: auto;
            position: relative;
          }
        }

        .custumer-review {
          margin: 20px 0;
          font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (767 - 300)));

          @include breakpoint(md) {
            font-size: calc(18px + (21 - 18) * ((100vw - 767px) / (1980 - 300)));
          }
        }
      }
    }
  }

  .best-ingredients-container {
    padding: 10vh 0;

    @include breakpoint(md) {
      padding: 15vh 0;
    }

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ing-picture-container {
      margin-top: 45px;
      position: relative;
      animation: fadeIn 2s 0s both;
    }
  }
}

//
.custom-shape-divider-top-1635101495 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1635101495 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: calc(55px + (100 - 55) * ((100vw - 300px) / (767 - 300)));

  @include breakpoint(lg) {
    height: 130px;
  }
}

.custom-shape-divider-top-1635101495 .shape-fill {
  fill: #271b1b;
}

@keyframes page_5 {
  0% {
    background-position-y: 0px;
  }

  50% {
    background-position-y: -30px;
  }

  100% {
    background-position-y: 0px;
  }
}
