<section>
    <app-page1></app-page1>
    <app-page2></app-page2>
    <app-page3></app-page3>
    <app-page4></app-page4>
    <app-page5></app-page5>
</section>


<div class="modal-container" id="modalContainer47510s5zM">
    <div id="modal47510s5zM" class="modal">
        <iframe *ngIf="Shared.isShowModal" class="iframe" title="YouTube video player" frameborder="0"
            [src]="Shared.pickedTown.youtube | safe"
            allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>



<!-- https://png-pixel.com/
---
1 x 1
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=
---
1 x 3
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAD0lEQVR42mNkYPhfzwgnAB4GBH4K5wMhAAAAAElFTkSuQmCC
---
2 x 1
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAQAAABeK7cBAAAAC0lEQVR42mNkAAIAAAoAAv/lxKUAAAAASUVORK5CYII=
---
3 x 1 
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAAC0lEQVR42mNkAAMAAA4AAjOwv9wAAAAASUVORK5CYII=
---
5 x 1
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAQAAAC896x4AAAAC0lEQVR42mNkgAMAABYAAqmTp+YAAAAASUVORK5CYII=
--
7 x 1
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAQAAAC4AnxFAAAAC0lEQVR42mNkQAEAAB4AAiZVyN4AAAAASUVORK5CYII=
--
3 x 2
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=
-->