@font-face {
  font-family: "Daybury";
  src: local("Daybury"), local("DayburyRegular"),
    url("/assets/fonts/DayburyRegular.woff2") format("woff2"),
    url("/assets/fonts/DayburyRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
