<section class="main-block">
  <div class="background lazyload nb" data-bg="assets/images/pages/2/background.webp">
    <div class="blocks-container">
      <div class="block-1 wow">
        <img
          src="./assets/images/pages/2/story.webp"
          data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          class="img-res lazyload"
          alt="(La Méga Pizza) - Notre Histoire"
        />
        <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
      </div>
      <div class="block-2">
        <div class="box">
          <div class="feather-image wow">
            <img
              data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAQAAAD41K0JAAAADUlEQVR42mNkYGAEIwAAGwAE61CSsQAAAABJRU5ErkJggg=="
              src="./assets/images/pieces/feather.webp"
              class="img-res lazyload"
              alt="feather"
            />
            <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
          </div>
          <div class="signature-image wow">
            <img
              data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
              src="./assets/images/pages/2/signature.webp"
              class="img-res lazyload"
              alt="signature"
            />
            <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
          </div>
          <div class="ornament-image wow">
            <img
              data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAQAAAC4AnxFAAAAC0lEQVR42mNkQAEAAB4AAiZVyN4AAAAASUVORK5CYII="
              src="./assets/images/pieces/ornament.webp"
              class="img-res lazyload"
              alt="ornament"
            />
            <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
          </div>
          <div class="heading">
            <h1 class="heading__1 wow">Our Story</h1>
            <h2 class="heading__2 wow">La Méga Pizza</h2>
          </div>
          <div class="hr-line">
            <div class="square"></div>
          </div>
          <p class="paragraph">
            Magnam sint ut inventore. Est provident sit. Ea nihil dolores doloremque voluptate. Distinctio ratione ex
            omnis consequatur repellendus sed sunt odio. Sint placeat omnis dignissimos ex dolorem eos voluptatem
            voluptatibus impedit. Est provident sit. Ea nihil dolores doloremque voluptate. placeat omnis dignissimos ex
            dolorem eos voluptatem voluptatibus impedit. Est provident sit. Ea nihil dolores doloremque voluptate
          </p>
          <div class="learn-more wow">
            <span>En savoir plus sur nous&#8594;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <ng-container *ngFor="let town of pickedCityTowns; index as i">
      <button
        [class.active]="town.name == pickedTown.name"
        (click)="changeTown(i)"
        data-remove-animation
        class="btn btn-brown-6 wow"
      >
        {{ town.name }}
      </button>
    </ng-container>
  </div>

  <div class="ornament-picture-2 wow">
    <img
      class="img-res lazyload"
      data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAQAAAC896x4AAAAC0lEQVR42mNkgAMAABYAAqmTp+YAAAAASUVORK5CYII="
      src="./assets/images/pieces/c-ornament.webp"
      alt="ornament"
    />
    <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
  </div>

  <div class="video-container">
    <video
      (loadeddata)="loadingSvg.style.display = 'none'"
      #video
      autoplay
      muted
      loop
      playsinline
      class="lazyload"
      [src]="pickedTown.videoPath"
      [attr.data-poster]="pickedTown.videoThumbnail"
    >
      <source type="video/mp4" />
    </video>
    <img
      (click)="toggleModal()"
      data-tmp-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
      src="./assets/images/svg/play.svg"
      alt="play Button"
      class="play-button lazyload"
    />
    <img class="loading-svg" src="./assets/images/svg/loading.svg" alt="loading" />
    <img #loadingSvg class="loading-svg-c" src="./assets/images/svg/loading.svg" alt="loading" />
  </div>
</section>

<app-modal (closeModalEvent)="toggleModal()" [videoUrl]="pickedTown.youtube" *ngIf="showModal"></app-modal>
