#slide-1 {
    .pictures-container {
        max-width: calc(350px + (570 - 350) * ((100vw - 300px) / (1980 - 300)));
    }

    .smoke {
        position: absolute;
        z-index: -1;
        max-width: 100%;
        bottom: 60%;
        right: 4%;
    }

    .tomato {
        position: absolute;
        max-width: 20%;
        right: -3%;
        top: -0%;
    }

    .herb-6 {
        position: absolute;
        max-width: 20%;
        right: -0%;
        left: 3%;
        margin: auto;
        bottom: 45%;
    }

    .herb-7 {
        position: absolute;
        max-width: 18%;
        left: 5%;
        margin: auto;
        top: 0;
    }

    .pepper-slice-1 {
        position: absolute;
        max-width: 9%;
        left: 28%;
        margin: auto;
        bottom: 17%;
    }

    .pepper-slice-2 {
        position: absolute;
        max-width: 20%;
        right: 15%;
        margin: auto;
        bottom: 28%;
    }

    // animations
    &.active {
        .smoke {
            animation: fadeIn 1s 2s both, smoke 6s 2s both infinite;
        }

        .tomato {
            animation: bounceInDown 1s 0.6s both;
        }

        .herb-6 {
            animation: bounceInLeft 1.2s 1.2s both;
        }

        .herb-7 {
            animation: bounceInDown 1s 0.9s both;
        }

        .pepper-slice-1 {
            animation: bounceInLeft 1s 1s both;
        }

        .pepper-slice-2 {
            animation: bounceInLeft 1s 1.2s both;
        }
    }
}

@keyframes smoke {
    0% {
        bottom: 60%;
    }

    50% {
        bottom: 68%;
    }

    100% {
        bottom: 60%;
    }
}