@import "./assets/css/swiper.scss";
@import "./assets/css/animations.scss";
@import "./assets/css/pre-fonts.scss";
@import "./assets/css/custom.scss";
:root {
  --brown-1: #191414;
  --brown-2: #271b1b;
  --brown-3: #2c2121;
  --brown-3-1: #372e1c;
  --brown-4: #6a5951;
  --brown-5: #695950;
  --brown-6: #f0d7b8;
  --orange: #ffac11;
  --glass: rgba(80, 80, 80, 15%);
}
