* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-res {
  max-width: 100%;
  height: auto;
}

.lazyload,
.lazyloading {
  filter: blur(7px) !important;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(80 80 80 / 53%);
  transition: 0.3s;
  width: 100%;

  &.nb {
    filter: blur(0px) !important;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    width: inherit;
  }

  + .loading-svg {
    max-width: 42px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
  }
}

.lazyloaded {
  transition: filter 0.6s;

  + .loading-svg {
    display: none;
  }
}

//btns
.btn {
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 12px 8px 12px;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px) !important;
    border-radius: 18px;
  }
}

.btn-orange {
  border: 2px solid var(--orange);
  color: var(--orange);
  border-bottom: 4.5px solid var(--orange);

  &:hover {
    color: var(--orange);
    border-bottom: 6px solid var(--orange);
  }
}

.btn-brown-6 {
  border: 2px solid var(--brown-6);
  color: var(--brown-6);
  border-bottom: 4.5px solid var(--brown-6);

  &:hover {
    color: var(--brown-6);
    border-bottom: 6px solid var(--brown-6);
  }
}

.b6-active {
  color: black;
  background-color: var(--brown-6);
  border-radius: 20px;

  &.btn-brown-6:hover {
    color: black;
  }
}

// edits
.snackbar-container {
  box-shadow: 0px 0px 15px 4px #00000091;

  p {
    font-size: 16px !important;
  }

  .action {
    background-color: #f0d7b8 !important;
    color: black !important;
    padding: 7px 5px !important;
    border-radius: 6px;
    transition: all 0.3s;
    font-size: 16px;
    font-family: "Futura PT Book";
    font-weight: 700;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

// swiper
.swiper {
  height: 100%;
}

.swiper-pagination-bullet {
  background: #ffffff30;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f0d7b8;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}
